@import url("https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&family=Geist:wght@100..900&display=swap");

.font-geist-mono {
  font-family: "Geist Mono", monospace;
}

.font-geist {
  font-family: "Geist", sans-serif;
}

body {
  font-family: "Geist", sans-serif;
}
