@import "tailwindcss";
@import "@nuxt/ui";

@theme static {
  --font-sans: "Public Sans", sans-serif;
  --color-surface: oklab(93.403% 0 -0.00011);
}



.dark {
  /* --color-surface: oklab(95.514% 0 -0.00011); */
  --color-surface: oklab(0.24 0 0);
}